.container {
    width: 50%;
    margin: 0 auto;
}

.form-contact {
    font-family: "Arial", Times, serif;
    width: 600px;
    height: 500px;
    margin: 80px 150px 500px 250px;
    padding: 15px 50px 70px 50px;
    background: rgb(16, 57, 79);
    box-shadow: 10px 50px 2px black, -10px -10px 2px red;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 80px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 50px;
    opacity: .8;
    margin-bottom: 20px 500px 20px 20px;
    cursor: pointer;
    background: red;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
}

.form-contact-button:hover {
    opacity: 1;
}

h2 {
    color: white;
    text-align: center;
    font-style: bold;
}

#box-transicao {
    margin: 120px;
    width: 50px;
    height: 300px;
    background: orange;
}

#box-transicao:hover {
    width: 1100px;
    background: black;
    transition: all 2s;
}