#info {
    color: white;
    margin: 50px 50px 20px 460px;
    text-align: left;
    padding: 5px;
    font-style: bold;
}

#info:hover {
    color: black;
    margin: 50px 50px 30px 450px;
    text-align: left;
    padding: 5px;
    font-style: bold;
}

#form1 {
    color: white;
    margin: 1px 120px 10px;
    text-align: right;
    padding: 55px;
    font-style: bold;
}

#form1:hover {
    color: black;
    margin: 1px 120px 10px;
    text-align: right;
    padding: 55px;
    font-style: bold;
}

#rodape {
    width: 100%;
    height: 300px;
    font-style: bold;
    text-align: center;
    background: black;
    box-shadow: 10px 50px 2px black, -10px -10px 2px red;
}

#rodape:hover {
    background: white;
}

h3 {
    color: white;
}

h3:hover {
    color: black;
}

ul {
    list-style: none;
    padding-left: 0px;
    text-align: left;
}

#loc {
    width: 600px;
    height: 400px;
    margin: -275px 300px -700px 160px;
}

b {
    color: white;
}

b:hover {
    color: black;
}

h6 {
    color: white;
}